body {
    background: #f4f6f9;
}

.card {
    border-radius: 15px;
    border: none;
}

.table thead {
    font-size: 14px;
}

.btn {
    border-radius: 10px;
}

.badge {
    font-size: 14px;
    padding: 6px 10px;
}

.stock-alto {
    background: #28a745;
}

.stock-medio {
    background: #ffc107;
    color: black;
}

.stock-bajo {
    background: #dc3545;
}